<nav>
    <div class="left-nav">
        <h1 id="site-title">FluffyArt <span id="site-emoji">&#128396;</span></h1>
        <p><a href="/">Home</a></p>
        <p><a href="/contents">Content Gallery</a></p>
        <p><a href="/profiles">All Profiles</a></p>
    </div>
    <div class="right-nav">
        <% if logged_in? %>
            <p>Welcome, <a href="/users/<%= current_user['id'] %>"><%= current_user['username'] %></a>!</p>
            <section class="controls">
                <form action="/sessions" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button>Logout</button>
                </form>
            </section>
        <% else %>
            <p><a href="/users/new">Sign up</a></p>
            <p><a href="/sessions/new">Log in</a></p>
        <% end %>
    </div>
</nav>
