<hr>

<header>
    <h1>Welcome</h1>
</header>

<hr>

<section>
    <p>Link to <a href="/contents">contents</a>.</p>

    <% if logged_in? %>
        <h2>Welcome <%= current_user['username'] %></h2>
        <p>SPECIAL CONTENT THAT IS SHOWN TO MEMBERS ONLY</p>
    <% end %>
</section>