<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Primary Meta Tags -->
    <title>FluffyArt - Project 2 for SEiR 61</title>
    <meta name="title" content="FluffyArt - Project 2 for SEiR 61">
    <meta name="description" content="FluffyArt by Titus Huang, the 2nd project out of four in General Assembly's Software Engineering course. This project focuses on students creating their first Full-Stack website using Ruby/Sinatra/Heroku + API.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://fluffyart.herokuapp.com/">
    <meta property="og:title" content="FluffyArt - Project 2 for SEiR 61">
    <meta property="og:description" content="FluffyArt by Titus Huang, the 2nd project out of four in General Assembly's Software Engineering course. This project focuses on students creating their first Full-Stack website using Ruby/Sinatra/Heroku + API.">
    <meta property="og:image" content="/fluffyart_preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://fluffyart.herokuapp.com/">
    <meta property="twitter:title" content="FluffyArt - Project 2 for SEiR 61">
    <meta property="twitter:description" content="FluffyArt by Titus Huang, the 2nd project out of four in General Assembly's Software Engineering course. This project focuses on students creating their first Full-Stack website using Ruby/Sinatra/Heroku + API.">
    <meta property="twitter:image" content="/fluffyart_preview.png">


    <link rel="stylesheet" href="/stylesheets/main.css">

    <title><%= page_title %> | FluffyArt</title>
</head>
<body>

    <div class="banner">
    </div>

    <%= yield %>

</body>
</html>