
body {
    margin: 0;
}

.banner {
    width: 100vw;
    height: 20vh;

    background-color: mediumaquamarine;
}

main {
    margin: 0 auto;
    max-width: 75vw;
}

@media screen and (max-width: 992px) {
    body {
        max-width: 90vw;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;

    background-color: darkslategray;
}

nav div {
    display: flex;
    gap: 2rem;
    margin: 0.5rem 2rem;
}

nav div p {
    margin: 0;
}

nav div p a {
    color: whitesmoke;
    text-decoration: none;
}

.content-display-gallery {
    background-color: lightgray;

    width: 200px;
    height: 250px;
    max-width: 350px;
    max-height: 500px;
    padding: 1rem;

    border: 2px solid grey;
}

.content-display-gallery img {
    width: 180px;
    height: 180px;
    max-width: 330px;
    max-height: 330px;
}
