
body {
    margin: 0;
}

.banner {
    width: 100vw;
    height: 20vh;

    background-color: mediumaquamarine;
}

main {
    margin: 0 auto;
    max-width: 75vw;
}

@media screen and (max-width: 992px) {
    body {
        max-width: 90vw;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;

    background-color: darkslategray;
}

nav div {
    display: flex;
    gap: 2rem;
    margin: 0.5rem 2rem;
}

nav div p {
    margin: 0;
}

nav div p a {
    color: whitesmoke;
    text-decoration: none;
}

footer {
    color: whitesmoke;
    background-color: mediumaquamarine;
    padding: 2rem;

    /* Sticky footer some day... */
    /* bottom: 0; */
    width: 100vw;
    position: fixed;
}

footer a {
    text-decoration: none;
}

.content-display-gallery-content {
    background-color: lightgray;

    width: 300px;
    height: 400px;
    max-width: 300px;
    max-height: 450px;

    padding: 1rem;

    border: 2px solid grey;
}

.content-display-gallery-content img {
    width: 290px;
    height: 290px;
    max-width: 290px;
    max-height: 400px;
}
