@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    margin-top: 0;
}

#site-title {
    margin: 0 auto;
    color: antiquewhite;
}

#site-emoji {
    color: chocolate;
}

.banner {
    width: 100vw;
    height: 20vh;

    background-color: mediumaquamarine;
}

.view {
    display: flex;
    gap: 2rem;
    
}

.view-content {
    border: 5px solid brown;
}

.view-sidebar {
    border: 5px solid green;
    min-width: 250px;
}

.view-content-display {
    background-color: dimgrey;
}

.view-content-display img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.view-content-description, .view-content-display-text {
    padding: 1.5rem;
}

.view-content-display-text {
    margin: 0;
    color: whitesmoke;
}

.view-sidebar {
    padding: 2rem;
}

main {
    margin: 0 auto;
    max-width: 75vw;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;

    background-color: darkslategray;
}

nav div {
    display: flex;
    gap: 2rem;
    margin: 0.5rem 2rem;
}

nav div p {
    margin: auto 0;
    color: whitesmoke;
}

nav div p a {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

nav div p a:hover {
    color: darkorange;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pretty-form-btn {
    height: 60px;
    font-weight: 600;
    font-size: 1.5rem;
    /* text-decoration: wavy; */
}

.content-form input {
    width: 50vw;
    /* word-wrap: break-word;
    overflow-y: visible;
    overflow-x: hidden; */
    
    -webkit-box-shadow:inset 0 0 3px #000;
    -moz-box-shadow:inset 0 0 3px #000;
    box-shadow:inset 0 0 3px #000;
}

footer {
    color: whitesmoke;
    background-color: mediumaquamarine;
    padding: 2rem;

    /* Sticky footer some day... */
    /* bottom: 0; */
    width: 100vw;
    /* position: fixed; */
}

footer a {
    text-decoration: none;
}

.content-display-gallery-content-row {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;

    /* border: 5px solid red; */
    margin: 2rem 0;
}

.content-display-gallery-content-column {
    background-color: lightgray;

    width: 300px;
    height: auto;

    padding: 1rem;

    border: 2px solid grey;
}

.content-display-gallery-content-column img {
    width: fit-content;
    max-width: 290px;
    max-height: 350px;
}

.view-sidebar-fav-btn {
    height: 35px;
    width: 100%;
}

.view-content-creator-controls {
    display: flex;
    justify-content: space-between;
}

.view-content-creator-controls button {
    height: 35px;
    width: 100px;
}





/* Id tags */

#content_text input, #content_description input {
    height: 150px;
}


/* Media Queries */

@media screen and (max-width: 992px) {
    body {
        max-width: 90vw;
    }
}

@media screen and (max-width: 1024px) {
    .content-display-gallery-content-row {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
}



/* Generic CSS Classes */

.main-margins {
    margin: 2rem auto;
}