<main class="main-margins">
    <header>
        <h1>Edit existing Content</h1>
    </header>

    <hr>

    <section>
        <div>
            <form action="/contents" method="POST" enctype="multipart/form-data" class="content-form">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="content_type_value" id="content_type_value" value="<%= content_type_value %>">

                <div>
                    <label for="title">Title: </label>
                    <br>
                    <input type="text" name="title" value="<%= content['title'] %>">
                </div>
                
                <% if content['is_image'] == "f" %>
                    <% content_to_edit = content['content'] %>
                <% else %>
                    <% content_to_edit = "" %>
                <% end %>

                <div id="content_text">
                    <label for="content">Text-based Content: </label>
                    <br>
                    <input type="text" name="content" value="<%= content_to_edit %>">
                </div>

                <div id="content_image">
                    <p>Image content editing is NOT available at this time...</p>
                    <%# <label for="content">Image Content: </label>
                    <br>
                    <input type="file" accept="image/*" name="content"> %>
                </div>

                <div id="content_description">
                    <label for="content_description">Description: </label>
                    <br>
                    <input type="text" name="content_description" value="<%= content['content_description'] %>">
                </div>
                
                <%# FUTURE - auto select dropdown depending on what data typecontent_type %>
                <div>
                    <label for="content_type">Content-type:</label>
                    <br>
                    <select name="content_type" id="content_type">
                        <option value="image">Image-only</option>
                        <option value="text">Text-only</option>
                    </select>
                </div>

                <button class="pretty-form-btn">Update Content</button>
            </form>
        </div>
    </section>
    <script>
        function toggleFormFieldsOnLoad(event) {
            toggleValue = document.getElementById("content_type_value").value;
            if (toggleValue == "image") {
                document.getElementById("content_image").style.display = 'block';
                document.getElementById("content_text").style.display = 'none';
            } else if (toggleValue == "text") {
                document.getElementById("content_image").style.display = 'none';
                document.getElementById("content_text").style.display = 'block';
            }
        }

        function toggleFormFields(event) {
            toggleValue = document.getElementById("content_type").value;
            if (toggleValue == "image") {
                document.getElementById("content_image").style.display = 'block';
                document.getElementById("content_text").style.display = 'none';
            } else if (toggleValue == "text") {
                document.getElementById("content_image").style.display = 'none';
                document.getElementById("content_text").style.display = 'block';
            }
        }

        document.getElementById("content_type").addEventListener("change", toggleFormFields);

        document.addEventListener('DOMContentLoaded', toggleFormFieldsOnLoad);
    </script>
</main>
