<hr>

<header>
    <h1>Content Gallery</h1>
</header>

<hr>

<section>
    <div>
        <p><a href="/contents/new">Add Content</a></p>
    </div>

    <div>
        <% if count_all_content() == 0 %>
            <p>There is no content yet, please add some content.</p>
        <% else %>
            <% contents.each do |content| %>
                <section class="content-display-gallery">
                    <% if content['is_image'] == 't' && content['is_text'] == 'f' %>
                        <img src="<%= content['content'] %>" alt="">
                    <% elsif content['is_image'] == 'f' && content['is_text'] == 't' %>
                        <p><%= content['content'] %></p>
                    <% else %>
                        <%= content['content'] %>
                        <p>This should be in HTML</p>
                    <% end %>
                </section>
            <% end %>
        <% end %>
    </div>
</section>