<hr>

<header>
    <h1>Add new Content</h1>
</header>

<hr>

<section>
    <div>
        <form action="/contents" method="POST">
            <label for="">Title: </label>
            <input type="text" name="title">

            <label for="">Content: </label>
            <input type="text" name="content">

            <label for="">Description: </label>
            <input type="text" name="content_description">

            <label for="">Content-type: </label>
            <select name="content_type" id="">
                <option value="image">Image-only</option>
                <option value="text">Text-only</option>
            </select>

            <button>Post Content</button>
        </form>
    </div>
</section>
