<main class="main-paddings">
    <header>
        <h1>Log in</h1>
    <header>

    <hr>

    <section class="data-handling">
        <form action="/sessions" method="POST">
            <%# Username or email in the future %>

            <div>
                <label for="">Username: </label>
                <br>
                <input type="text" name="username">
            </div>

            <div>
                <label for="">Password: </label>
                <br>
                <input type="password" name="password">
            </div>

            <button class="pretty-form-btn">Log in</button>
        </form>
    </section>
</main>
