<header>
    <h1>Log in</h1>
<header>

<hr>

<section class="data-handling">
    <form action="/sessions" method="POST">
        <%# Username or email in the future %>

        <label for="">Username: </label>
        <input type="text" name="username">

        <label for="">Email: </label>
        <input type="text" name="email">

        <label for="">Password: </label>
        <input type="password" name="password">

        <button>Log in</button>
    </form>
</section>
