<main class="main-margins">
    <header>
        <h1>Platform Profiles</h1>
    </header>

    <hr>

    <section>
        <div class="profiles-display-gallery">
            <% if count_all_users == 0 %>
                <p>There are no users yet, please add make an account.</p>
            <% else %>
                <% three_row = 0 %>
                <% profiles.each do |profile| %>
                    <% if three_row == 0 %>
                        <section class="content-display-gallery-content-row">
                    <% end %>

                    <% three_row += 1 %>

                    <section class="content-display-gallery-content-column">
                        <p><a href="/users/<%= profile['id'] %>"><%= profile['username'] %></a></p>
                        <br>
                        <p>Content posted: <%= count_content_created_by_user_id(profile['id']) %></p>
                    </section>
                    
                    <% if three_row == 3 %>
                        </section>
                        <% three_row = 0 %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </section>
</main>